@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}
main {
  min-height: 100dvh;
  position: relative;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

header {
  padding: 16px;
  background-color: rgb(104, 103, 111);
  color: white;

  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 8px;
}

.active {
  color: rgb(76, 206, 193);
}
